{% if messages %}
<div class="row">
    <br/>
    <div class="col-md-12">
        {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
        {% endfor %}
    </div>
</div>
{% endif %}
<h3>{{ titulo }}</h3>
<hr>
<form method='POST'>
    {% csrf_token %}
    {% if form.errors %}
        {{ form.errors }}
    {% endif %}
    {% if form.non_field_errors %}
        {{ form.non_field_errors }}
    {% endif %}
    {{ form.as_p }}
    <button type="submit" >Guardar</button>
    <input action="action" type="button" value="Cancelar" onclick="history.go(-1);" />
</form>